<%- include('../partials/header') %>
<form id="tickets-form" action="/flights/<%= flightId %>/tickets" method="POST">

    <label>Seat:</label>
    <input type="text" name="seat" required>
    <br>
    <label>Price:</label>
    <input type="text" name="price" required>
    <br>
    <div><button type="submit">Create Ticket</button></div>
</form>
<%- include('../partials/footer') %>