<%- include('../partials/header') %>
<form action="/flights/<%= flightId %>/tickets" method="POST">
    <label>Seat:
        <input type="text" name="seat">
    </label>
    <br>
    <label>Price:
        <input type="text" name="price">
    </label>
    <br>
    <button type="submit">Create Flight</button>
</form>
<%- include('../partials/footer') %>